* {
  /* background-image: url(img/universo.jpg); */
  /* object-fit: cover;
  background-repeat: no-repeat;*/

}

body {
  background-image: url(img/universo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(rgba(255, 0, 0, 0.35), green, blue, alpha);

}

.titulo {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.card {
  height: 400px;
  width: 400px;
  border: solid 1px;
  background-color: gray;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  padding: auto;

}

img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.head {
  text-align: center;
}